body {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  font-family: "Roboto", sans-serif;
}

.main-container {
  width: 100%;
  min-width: 320px;
  position: relative;
}
@media (min-width: 1024px) {
  .main-container {
    width: 100%;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

.navbar {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
}

.navbar__logo {
  height: 36px;
  margin: 14px auto;
}

.navbar__search {
  flex-direction: row;
  align-items: center;
  height: 50px;
  text-align: center;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922), inset 0px 2px 5px 0px rgba(0, 0, 0, 0.2509803922);
  background: #EAEAEA;
  gap: 17px;
  z-index: 1;
}

input {
  border: none;
  outline: none;
  background: none;
  width: 115px;
}
input::placeholder {
  color: #353535;
  font-weight: 500;
  font-size: 16px;
  width: 115px;
}

/* section info et button explorer*/
.homepage__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F6F6F6;
  text-align: center;
}
.homepage__info p {
  font-weight: 300;
  font-size: 18px;
  margin: 0;
}

.btn {
  margin-top: 30px;
  margin-bottom: 50px;
}

.homepage__btn--purple {
  border-radius: 25px;
  background: linear-gradient(#ff79da -11%, #9356DC);
  color: white;
  border: none;
  font-size: 16px;
  font-weight: 500;
  height: 50px;
  width: 218px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  justify-content: center;
  transition: 1s;
}
.homepage__btn--purple:hover {
  box-shadow: 0px 6px 12px 3px rgba(0, 0, 0, 0.25);
  opacity: 0.8;
  transition: 1s;
}

/*Section cartes fonctionnement*/
.container__fonctionnement {
  margin-left: 20px;
  margin-top: 40px;
}

.step {
  list-style: none;
  padding-left: 15px;
  padding-right: 20px;
  padding-bottom: 40px;
}
.step .step__card {
  display: flex;
  align-items: center;
  border: none;
  border-radius: 25px;
  width: 100%;
  height: 72px;
  background: #F6F6F6;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  font-weight: 500;
  gap: 25px;
  margin-bottom: 20px;
}
.step .step__card .step__number {
  border-radius: 25px;
  padding: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
  color: white;
  background: #9356DC;
  margin-left: -15px;
}

.step__icon--violet {
  color: #9356DC;
}

/* Section cartes restaurants */
.homepage__restaurant {
  background: #F6F6F6;
  box-sizing: border-box;
  padding: 30px 14px 50px;
}

.card {
  height: 250px;
  background: white;
  border-radius: 20px;
  margin-top: 18px;
}
.card img {
  width: 100%;
  height: 180px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  object-fit: cover;
}

.card__content {
  padding-left: 13px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card__content .card__title {
  margin-top: 10px;
  margin-bottom: 4px;
}
.card__content .card__subtitle {
  margin: 0;
}

.hearticon {
  padding-right: 25px;
  font-size: 22px;
}
.hearticon i {
  font-weight: 100;
  opacity: 0;
}
.hearticon i:hover {
  font-weight: 900;
  background-color: linear-gradient(#ff79da -11%, #9356DC);
  opacity: 1;
}

.image__container {
  position: relative;
}
.image__container .image__restaurant {
  display: block;
}
.image__container .badge {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 14px;
  font-weight: 500;
  z-index: 1;
  text-align: center;
  width: 70px;
  height: 19px;
  background: #99e2d0;
  color: #008766;
  padding: 5px;
}

/*  Section Footer  */
.footer__container {
  background-color: #353535;
  color: #ffffff;
  padding: 22px 25px;
}

.logo__footer {
  width: 137px;
  height: 27px;
}
.logo__footer .title__footer {
  font-family: "Shrikhand", sans-serif;
  font-size: 18px;
  margin: 0;
}

.footer__list {
  list-style-type: none;
  display: flex;
  padding: 0;
  flex-direction: column;
  gap: 10px;
}
.footer__list i {
  margin-right: 15px;
  width: 11px;
}

/*# sourceMappingURL=styles.css.map */
