/*  Section Footer accueil & menu  */

.homepage__footer {
    background-color: $background-bold-grey;
    color: #ffffff;
    padding: 22px 25px;

    
    .footer__container {
        @media (min-width: 1024px) {
            align-items: center;  
            display: flex;
            flex-direction: row-reverse;
            margin-top: 20px;         
        }  
    }
}


.logo__footer {
    
    .title__footer {
        @include title-font;
        font-size: 18px;
        margin: 0;   
    }
}

.footer__list {
    list-style-type: none;
    display: flex;
    padding: 0;
    flex-direction: column;
    gap: 10px;

    @media (min-width: 1024px ) {       
        flex-direction: initial;
        gap: 30px;
        margin-right: 90px;
    }     

    i {
        margin-right: 15px;
        width: 11px;
        
    }
}