/* Header homepage */

.navbar {
    display: flex;
    flex-direction: column;
    width: 100%;  
    justify-content: center;
}
.navbar__logo {
    height: 30px;
    margin: 20px auto;
    @media (min-width: 1024px) {
        height: 34px;
    }
}
 
.navbar__search {
    flex-direction: row;
    align-items: center; 
    height: 50px;
    text-align: center;
    box-shadow: 0px 4px 4px 0px #00000040, 
          inset 0px 2px 5px 0px #00000040;       
    background: $background-grey-color;
    gap: 17px;
    z-index: 1;

    @media (min-width: 1024px) {
        box-shadow: none;
    }
}

input {
    border: none;
    outline: none;
    background: none; 
    width: 120px;
    font-weight: bold;
    font-size: 16px;
    
    &::placeholder{
        color: #353535; 
        width: 120px;
    }    
}

/* Header menu */

.header__menu {
    position: relative;

    .nav__menu {
        padding: 23px;
    }

    .logo {
        display: flex;
        justify-content: center;
        margin: 10px;
        height: 30px;
    }
}    

 .nav__icone {
    width: 30px;
    margin-top: 15px;
    position: absolute;

    & .fa-arrow-left { 
        font-size: 20px;
        margin-left: 10px; 
    }       
}   

       


    





