body {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    @include text-font;
}

.main-container {
    width: 100%;
    min-width: 320px;
    position: relative;
    @media (min-width: 1024px){
        width: 100%;
    }
    }

main {
    display: flex;
    flex-direction: column;
}    

a {
    text-decoration: none;
    color:inherit;
}