@mixin text-font {
    font-family: "Roboto", sans-serif;
}

@mixin title-font {
    font-family: "Shrikland", sans-serif;
}
@mixin shadow {
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}

@mixin hover {
    box-shadow: 0px 6px 12px 3px rgba(0, 0, 0, 0.25);
    opacity: 0.85;
}

@mixin button-purple {
    justify-content: center;
    border-radius: 25px;
    background: linear-gradient($secondary-color -11%, $primary-color);
    color: white;
    border: none;
    font-size: 16px;
    font-weight: 500;
    height: 50px;
    width: 218px;
}

@mixin round-purple {
    border-radius: 25px;
    padding:10px;
    padding-top:4px;
    padding-bottom:4px;
    color:white;
    background:$primary-color;
      }

@mixin card-fonctionnement {
    border: none;
    border-radius: 25px;
    width: 322px;
    height: 72px;
    background: $background-lightgrey-color;
    
}

@mixin card-menu {

}

@mixin card-restaurants {

}