/* section info et button explorer*/

.homepage__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $background-lightgrey-color;
    text-align: center;

    & p {
        font-weight: 300;
        font-size: 18px;
        margin: 0;
    }   
}

.btn {
    margin-top: 30px;
    margin-bottom: 30px;
    }
    
.homepage__btn--purple {
    @include button-purple;
    @include shadow; 
    justify-content: center;
    transition: 1s;

    &:hover  {
        @include hover;
        transition: 1s;   
        }                
    }
    
/*Section cartes fonctionnement*/

.homepage__fonctionnement {
    padding: 30px 20px;
}
.container__fonctionnement{
    width: 100%;
    @media (min-width: 1440px) {
        width: 80%;
        margin-left: 130px;
    }  
}

.step {
    list-style: none;
    padding: 0;
    @media (min-width: 1440px) {
        display: flex;
        gap: 30px;
    }
    @media (min-width: 1024px) {
        display: flex;
        gap: 30px;
    }

    
    .step__card {
        display: flex;
        align-items: center;
        @include card-fonctionnement;
        @include shadow;
        font-weight: 500;
        gap: 25px;
        margin-bottom: 20px;
        
       .step__number {
            @include round-purple;
            margin-left: -15px;
        }
    }
}

.step__icon--violet {
    color: $primary-color;
}

/* Section cartes restaurants */

.homepage__restaurant {
    background: $background-lightgrey-color;
    box-sizing: border-box;
    padding: 30px 14px 50px;

    @media (min-width: 1024px ) {
        padding: 10px;
    }
    
}
.title__restaurant {
    @media (min-width: 1440px ) {
        margin-left: 10%;
    }
}

.restaurant__card {
    
    @media (min-width: 1024px ) {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-bottom: 20px;
        
    }

    @media (min-width: 1440px ){
        margin: 2%;
    }
}

.card {
    @include card;
    margin-top: 18px;

    @media (min-width: 1024px ){
        width: 37%;
    }
    
   
    img {
        @include img-restaurant;        
    }
}

.card__content{
    padding-left: 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    .card__title {
        margin-top: 10px;
        margin-bottom: 4px;
    }

    .card__subtitle{
        margin: 0;
    }
}

.menu__favorite{ 
    height: 2rem;
    width: 2rem;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    
    .icon-fill{
        color: #9356DC;
        opacity: 0;
        font-size: 1.6rem;
        cursor: pointer;
        transition: 0.2s linear;
        position: absolute;
        z-index: 2;
        background: linear-gradient(0deg, #ab5edc 0%, #df6fda 58%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .icon-empty{
        
        opacity: 1;
        font-size: 1.6rem;
        cursor: pointer;
        transition: 0.2s linear;
        position: absolute;
    }

    &:hover .icon-fill{
        opacity: 1;
    }

    &:hover .icon-empty{
        opacity: 0;
    }
}    


.image__container {
    position: relative;

    .image__restaurant {
        display: block;   
    }

    .badge {
        position: absolute; 
        top: 15px; 
        right: 15px;            
        font-size: 14px;
        font-weight: 500; 
        z-index: 1;
        text-align: center;
        @include badge-new; 
    }  
}

