/* section info et button explorer*/

.homepage__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $background-lightgrey-color;
    text-align: center;

    & p {
        font-weight: 300;
        font-size: 18px;
        margin: 0;
    }   
}

.btn {
    margin-top: 30px;
    margin-bottom: 50px;
    }
    
.homepage__btn--purple {
    @include button-purple;
    @include shadow; 
    justify-content: center;
    transition: 1s;

    &:hover  {
        @include hover;
        transition: 1s;   
        }
                  
    }
    



/*Section cartes fonctionnement*/

.container__fonctionnement{
    margin-left: 20px; 
    margin-top: 40px;
    
}

.step {
    list-style: none;
    padding-left: 15px;
    padding-right: 20px;
    padding-bottom: 40px;
    
    .step__card {
        display: flex;
        align-items: center;
        @include card-fonctionnement;
        @include shadow;
        font-weight: 500;
        gap: 25px;
        margin-bottom: 20px;
   
       .step__number {
            @include round-purple;
            margin-left: -15px;
        }
    }
}

.step__icon--violet {
    color: $primary-color;
}

/* Section cartes restaurants */

.homepage__restaurant {
    background: $background-lightgrey-color;
    box-sizing: border-box;
    padding: 30px 14px 50px ;
    
}

.card {
    @include card;
    margin-top: 18px;
    
   
    img {
        @include img-restaurant;
        
    }
}

.card__content{
    padding-left: 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
        .card__title {
            margin-top: 10px;
            margin-bottom: 4px;
        }

        .card__subtitle{
            margin: 0;
        }

}

.hearticon {
    padding-right: 25px;
    font-size: 22px; 
    
    & i {
        font-weight: 100;
        

       &:hover {
        font-weight: 900;
        
    }  
    }
   
        }    

.image__container {
    position: relative;

    .image__restaurant {
        display: block;   
    }

    .badge {
        position: absolute; 
        top: 10px; 
        right: 10px;            
        font-size: 14px;
        font-weight: 500; 
        z-index: 1;
        text-align: center;
        @include badge-new; 

    }
   
}

