/* section info et button explorer*/

.homepage__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $background-lightgrey-color;
    text-align: center;

    & p {
        font-weight: 300;
        font-size: 18px;
        margin: 0;
    }
    
    & h1 {
        width: 75%;
        @media (min-width: 1024px) {
            font-size: 40px;
            
        }
    }
}

.btn {
    margin-top: 30px;
    margin-bottom: 57px;
    width: 228px;
    }
    
.homepage__btn--purple {
    @include button-purple;
    @include shadow; 
    justify-content: center;
    transition: 1s;

    &:hover  {
        @include hover;
        transition: 1s;   
        }                
    }
    
/*Section cartes fonctionnement*/

.homepage__fonctionnement {
    display: flex;
    justify-content: center;
    padding: 40px 20px;    
}
.container__fonctionnement{
    width: 100%;
    @media (min-width: 1440px) {
        width: 80%;       
    } 
    & h2 {
        margin: 0;
    } 
}

.step {
    list-style: none;
    padding: 0;
    margin-top: 26px;
    margin-left: 10px;
    @media (min-width: 1024px) {
            display: flex;
            gap: 40px;
        }
    
    .step__card {
        display: flex;
        align-items: center;
        @include card-fonctionnement;
        @include shadow;
        font-weight: 500;
        gap: 25px;
        margin-bottom: 24px;
        
       .step__number {
            @include round-purple;
            margin-left: -15px;
        }
    }
}

.step__icon--violet {
    color: $primary-color;
}

/* Section cartes restaurants */

.homepage__restaurant {
    background: $background-lightgrey-color;
    box-sizing: border-box;
    padding: 30px 14px 65px;

    @media (min-width: 1024px ) {
        padding: 10px;
    }
    
}
.title__restaurant {
    @media (min-width: 1440px ) {
        margin-left: 10%;
    }
}

.restaurant__card { 
    @media (min-width: 1024px ) {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-bottom: 20px;       
    }

    @media (min-width: 1440px ){
        margin: 2%;
    }
}

.card {
    @include card;
    @include shadow;
    margin-top: 18px;

    @media (min-width: 1024px ){
        width: 37%;
    }
    
    img {
        @include img-restaurant;        
    }
}

.card__content{
    padding-left: 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
    
    .card__title {
        margin-top: 10px;
        margin-bottom: 4px;
    }

    .card__subtitle{
        margin: 0;
    }
}

.favorite__restaurant{ 
    height: 2rem;
    width: 2rem;
    padding: 0;
    display: inline-block;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;

    .icon-fill{
        @include favorite-icone-fill;
        transition: 0.2s linear;
        
    }
    
    .icon-empty{
        @include favorite-icone-empty;
        transition: 0.2s linear;
        
    }

    &:hover .icon-fill{
        opacity: 1;
    }

    &:hover .icon-empty{
        opacity: 0;
    }
}    

input[type="checkbox"]#favorite1 {
    display: none;

    &:checked {
      ~ label {
        .icon-fill {
          @include favorite-restaurant;
        }
      }
    }
  }


.image__container {
    position: relative;

    .image__restaurant {
        display: block;   
    }

    .badge {
        position: absolute; 
        top: 15px; 
        right: 15px;            
        font-size: 14px;
        font-weight: 500; 
        z-index: 1;
        text-align: center;
        @include badge-new; 
    }  
}

